#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #c3bfb6;
}

body {
  background-color: #dcd7c9;
}

.item-title {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-size: 2rem;
  font-weight: 900;
  font-style: normal;
  margin: 0;
}

.item-title-readable {
  border-top: 0.5px solid #ff9b45;
  padding-top: 0.25rem;
  margin-top: 0.5rem;
}

.text {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.item {
  position: relative;
  margin: 20px;
  padding: 10px;
}

.kategori {
  border: 5px #8e1616 solid;
  background-color: #1d1616;
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  border-radius: 50px;
}

.corner {
  position: absolute;
  width: 120px;
  height: 100px;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 10;
}

.corner img {
  padding: 100px;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.top-left {
  top: -15px;
  left: -30px;
  transform: rotate(180deg);
}

.top-right {
  top: -15px;
  right: -30px;
  transform: scaleY(-1);
}

.bottom-right {
  bottom: -15px;
  right: -30px;
  transform: rotate(0deg);
}

.bottom-left {
  bottom: -15px;
  left: -30px;
  transform: rotate(90deg);
  transform: scaleX(-1);
}
